@using  Microsoft.AspNetCore.Mvc.Localization
@* @inject IViewLocalizer Localizer *@
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@using Web
@inject SignInManager<IdentityUser> SignInManager
@inject IStringLocalizer<SharedResource> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>

     <environment include="Development">
        <link rel="stylesheet" href="~/css/Dashboard.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/Dashboard.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-paper.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    </environment>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/trumbowyg.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Plan Your Vote</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                
                @* Elections: Manage Elections (State), All Elections (State) *@
                <ul class="navbar-nav flex-grow-1">
                    @if (User.Identity.IsAuthenticated) {
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Elections
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="States" asp-action="Index">Manage Elections</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Elections" asp-action="Index">All Elections</a>
                        </div>
                    </li>

                    @* Candidates Details: Races (Races), Questions (BallotIssues), Polling Places (Polling Places), Steps *@
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Candidate Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Races" asp-action="Index">Races</a>
                            <a class="dropdown-item" asp-area="" asp-controller="BallotIssues" asp-action="Index">Questions</a>
                            <a class="dropdown-item" asp-area="" asp-controller="PollingPlaces" asp-action="Index">Polling Places</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Steps" asp-action="Index">Steps</a>
                        </div>
                    </li>

                    @*  *@
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Candidate Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Candidates" asp-action="Index">Candidates</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Candidates" asp-action="Create">Create Candidate</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Organizations" asp-action="Index">Organizations</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            UI Details
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Images" asp-action="Index">Images</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Themes" asp-action="Index">Themes</a>
                            <a class="dropdown-item" asp-area="" asp-controller="SocialMedia" asp-action="Index">Organizations</a>
                        </div>
                    </li>

                 
                     @if (SignInManager.IsSignedIn(User) && User.IsInRole(Constants.Account.ROLE_ADMIN)) {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="UserManagement" asp-action="Index">User Management</a>
                        </li>
                    }
                }
                </ul>
              

                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="flexColumn">
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
