name: Deploy ASP.NET Core app to Azure Web App

on:
  pull_request:
    branches:
      - '*'
# CONFIGURATION
# For help, go to https://github.com/Azure/Actions
#
# 1. Set up the following secrets in your repository:
#   AZURE_WEBAPP_PUBLISH_PROFILE
#
# 2. Change these variables for your configuration:
env:
  AZURE_WEBAPP_NAME: votingcms    # set this to your application's name
  AZURE_WEBAPP_PACKAGE_PATH: 'Web'      # set this to the path to your web app project, defaults to the repository root
  DOTNET_VERSION: '3.1.200'           # set this to the dot net version to use

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      # Checkout the repo
      - uses: actions/checkout@master
      
      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
      
      # Run dotnet build and publish
      - name: add-migrations dotnet build and publish
        run: |
          echo **** Installing dotnet-ef
          dotnet tool install --global dotnet-ef --version 3.1.0-*
          echo **** Deleting Migrations folder
          rm -r ./Web/Data/Migrations
          echo **** Adding EF migrations M1 
          dotnet-ef migrations add M1 --project ./Web/Web.csproj --output-dir Data/Migrations 
          echo **** dotnet build
          dotnet build ./Web/Web.csproj --configuration Release
          echo **** dotnet publish
          dotnet publish -c Release -o '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp' 
          
      # Deploy to Azure Web apps
      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v2
        with: 
          app-name: ${{ env.AZURE_WEBAPP_NAME }} # Replace with your app name
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }} # Define secret variable in repository settings as per action documentation
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'

# For more samples to get started with GitHub Action workflows to deploy to Azure, refer to https://github.com/Azure/actions-workflow-samples